* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    min-height: 100vh;
    padding: 1rem;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    display: grid;
    place-content: center;
    margin-top: -1px;
    margin-left: -1px;
}

.square.odd {
    background-color: #ffc107;
}
